*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/world-map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
}
#header {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, lightblue, lightgreen);
  height: 50px;
  line-height: 50px;
  font-family: 'Lobster', cursive;
}
#main {
  position: relative;
  height: 100vh;
  min-height: 100vh;
}
/* prevent visual glitch */
.prevent-overflow {
  overflow: hidden;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.btn {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid lightblue;
  background-image: linear-gradient(to right, lightcoral, lightgrey);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
}
.btn:hover {
  background-image: linear-gradient(to right, lightcoral, lightskyblue);
}
.generate {
  color: black;
  display: none;
  margin-top: 20px;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 10px;
  font-family: 'Roboto Slab', serif;
}
.country-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 70vh;
  margin: 20px;
}
.card {
  margin: 10px;
  width: 350px;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: lightskyblue;
  border-radius: 15px;
  border: 2px solid lightcoral;
  display: none;
}
.country-container .card {
  max-width: 100%;
}
.card.none {
  display: flex;
}
.country-name {
  color: black;
  margin-bottom: 5px;
  font-family: 'Roboto Slab', serif;
}
.country-flag {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.country-capital, .country-population, .country-region {
  color: black;
  margin: 10px;
  font-family: 'Roboto Slab', serif;
}
.country-region {
  margin-bottom: -1px;
}
@media screen and (max-width: 315px) {
  .country-name {
    font-size: 18px;
  }
}
@media screen and (max-width: 262px) {
  .random {
    font-size: 23px;
  }
}
